
RewriteEngine On
RewriteBase /Lifter.io/

# Si el archivo o directorio solicitado no existe, redirigir a index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /Lifter.io/index.html [L]
