<section class="flex background-dark full-page">
	<section class="flex-grow-1 width-50 background-primary ">
		<section class="landing__intro">
			<h1 class="landpage-title">Lifter.io</h1>
			<p class="slogan-page">Una solución para llevar el progreso de tus entrenamientos</p>
		</section>
	</section>
	<aside class="flex-grow-1 width-50">
		<section class="flex flex--column flex--evenly y--full padding--md">
			<section class="form__login">
				<h2>Inicia Sesion</h2>
			</section>
			<form id="loginForm" class="form__login" autocomplete="off">
				<label for="username-input" class="form__input">
					<span>Nombre de usuario</span>
					<input id="username-input" type="text">
				</label>
				<label for="password-input" class="form__input">
					<span>Contraseña</span>
					<input id="password-input" type="password">
				</label>
				<button class="button button--primary button--width-full" type="submit">Iniciar sesion</button>
			</form>
			<section class="form__login">
				<button class="button button--white button--width-full flex flex--v-center flex--h-center flex--gap-md" type="button">
					<span>Iniciar sesion con Google</span>
					<svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
						<path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
					</svg>
				</button>
				<p>¿Aún no tienes cuenta?</p>
				<button class="button button--primary button--width-full" type="button">Registrate aqui</button>
			</section>
		</section>
	</aside>
</section>